<footer>
  <div class="navbar   navbar-light bg-light  ">

    <a href="https://sites.google.com/udacity.com/bertelsmanndatascholarship/home">Bertelsmann Udacity Scholarship</a>
    Contributors:
    <a href="http://jasonmwhite.com/portfolio/index.html">Jason Michael White</a> 
    <a href="https://www.linkedin.com/in/christopher-schilz-5027287/">Christopher Schilz</a>
    <a href="https://www.linkedin.com/in/mariannajanczak/">Marianna Janczak</a>
    <span class="font-italic text-muted foot">Inspired by
      <a href="https://github.com/Mike-Risher/5e-DnD-Character-Generator">Mike-Risher's 5e-DnD-Character-Generator</a>
    </span>
  </div>

</footer>
